/*
 * Swagger
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package cisco.com.dnac.v1.api.client.api;

import cisco.com.dnac.v1.api.client.ApiCallback;
import cisco.com.dnac.v1.api.client.ApiClient;
import cisco.com.dnac.v1.api.client.ApiException;
import cisco.com.dnac.v1.api.client.ApiResponse;
import cisco.com.dnac.v1.api.client.Configuration;
import cisco.com.dnac.v1.api.client.Pair;
import cisco.com.dnac.v1.api.client.ProgressRequestBody;
import cisco.com.dnac.v1.api.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import cisco.com.dnac.v1.api.client.model.CommandRunnerDTO;
import cisco.com.dnac.v1.api.client.model.CountResult;
import cisco.com.dnac.v1.api.client.model.ExportDeviceDTO;
import cisco.com.dnac.v1.api.client.model.FunctionalCapabilityListResult;
import cisco.com.dnac.v1.api.client.model.FunctionalCapabilityResult;
import cisco.com.dnac.v1.api.client.model.InventoryDeviceInfo;
import cisco.com.dnac.v1.api.client.model.LegitCliKeyResult;
import cisco.com.dnac.v1.api.client.model.ModuleListResult;
import cisco.com.dnac.v1.api.client.model.ModuleResult;
import cisco.com.dnac.v1.api.client.model.NetworkDeviceBriefNIO;
import cisco.com.dnac.v1.api.client.model.NetworkDeviceBriefNIOResult;
import cisco.com.dnac.v1.api.client.model.NetworkDeviceListResult;
import cisco.com.dnac.v1.api.client.model.NetworkDeviceResult;
import cisco.com.dnac.v1.api.client.model.NetworkDeviceSyncApiRequest;
import cisco.com.dnac.v1.api.client.model.RawCliInfoNIOListResult;
import cisco.com.dnac.v1.api.client.model.RegisterNetworkDeviceResult;
import cisco.com.dnac.v1.api.client.model.RetrievesAllNetworkDevicesResponse;
import cisco.com.dnac.v1.api.client.model.SuccessResult;
import cisco.com.dnac.v1.api.client.model.SuccessResultList;
import cisco.com.dnac.v1.api.client.model.TaskIdResult;
import cisco.com.dnac.v1.api.client.model.VlanListResult;
import cisco.com.dnac.v1.api.client.model.WirelessInfoResult;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class NetworkDeviceApi {
    private ApiClient apiClient;

    public NetworkDeviceApi() {
        this(Configuration.getDefaultApiClient());
    }

    public NetworkDeviceApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for deleteNetworkDeviceById
     * @param id Device ID (required)
     * @param isForceDelete isForceDelete (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteNetworkDeviceByIdCall(String id, Boolean isForceDelete, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1/network-device/${id}"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (isForceDelete != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("isForceDelete", isForceDelete));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteNetworkDeviceByIdValidateBeforeCall(String id, Boolean isForceDelete, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling deleteNetworkDeviceById(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteNetworkDeviceByIdCall(id, isForceDelete, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete network device by ID
     * Removes the network device for the given ID
     * @param id Device ID (required)
     * @param isForceDelete isForceDelete (optional)
     * @return TaskIdResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public TaskIdResult deleteNetworkDeviceById(String id, Boolean isForceDelete) throws ApiException {
        ApiResponse<TaskIdResult> resp = deleteNetworkDeviceByIdWithHttpInfo(id, isForceDelete);
        return resp.getData();
    }

    /**
     * Delete network device by ID
     * Removes the network device for the given ID
     * @param id Device ID (required)
     * @param isForceDelete isForceDelete (optional)
     * @return ApiResponse&lt;TaskIdResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<TaskIdResult> deleteNetworkDeviceByIdWithHttpInfo(String id, Boolean isForceDelete) throws ApiException {
        com.squareup.okhttp.Call call = deleteNetworkDeviceByIdValidateBeforeCall(id, isForceDelete, null, null);
        Type localVarReturnType = new TypeToken<TaskIdResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Delete network device by ID (asynchronously)
     * Removes the network device for the given ID
     * @param id Device ID (required)
     * @param isForceDelete isForceDelete (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteNetworkDeviceByIdAsync(String id, Boolean isForceDelete, final ApiCallback<TaskIdResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteNetworkDeviceByIdValidateBeforeCall(id, isForceDelete, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<TaskIdResult>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getNetworkDevice
     * @param hostname hostname (optional)
     * @param managementIpAddress managementIpAddress (optional)
     * @param macAddress macAddress (optional)
     * @param locationName locationName (optional)
     * @param serialNumber serialNumber (optional)
     * @param location location (optional)
     * @param family family (optional)
     * @param type type (optional)
     * @param series series (optional)
     * @param collectionStatus collectionStatus (optional)
     * @param collectionInterval collectionInterval (optional)
     * @param notSyncedForMinutes notSyncedForMinutes (optional)
     * @param errorCode errorCode (optional)
     * @param errorDescription errorDescription (optional)
     * @param softwareVersion softwareVersion (optional)
     * @param softwareType softwareType (optional)
     * @param platformId platformId (optional)
     * @param role role (optional)
     * @param reachabilityStatus reachabilityStatus (optional)
     * @param upTime upTime (optional)
     * @param associatedWlcIp associatedWlcIp (optional)
     * @param licenseName licenseName (optional)
     * @param licenseType licenseType (optional)
     * @param licenseStatus licenseStatus (optional)
     * @param modulename moduleName (optional)
     * @param moduleequpimenttype moduleEqupimentType (optional)
     * @param moduleservicestate moduleServiceState (optional)
     * @param modulevendorequipmenttype moduleVendorEquipmentType (optional)
     * @param modulepartnumber modulePartNumber (optional)
     * @param moduleoperationstatecode moduleOperationStateCode (optional)
     * @param id Accepts comma separated id&#39;s and return list of network-devices for the given id&#39;s. If invalid or not-found id&#39;s are provided, null entry will be returned in the list. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getNetworkDeviceCall(List<String> hostname, List<String> managementIpAddress, List<String> macAddress, List<String> locationName, List<String> serialNumber, List<String> location, List<String> family, List<String> type, List<String> series, List<String> collectionStatus, List<String> collectionInterval, List<String> notSyncedForMinutes, List<String> errorCode, List<String> errorDescription, List<String> softwareVersion, List<String> softwareType, List<String> platformId, List<String> role, List<String> reachabilityStatus, List<String> upTime, List<String> associatedWlcIp, List<String> licenseName, List<String> licenseType, List<String> licenseStatus, List<String> modulename, List<String> moduleequpimenttype, List<String> moduleservicestate, List<String> modulevendorequipmenttype, List<String> modulepartnumber, List<String> moduleoperationstatecode, String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1/network-device";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (hostname != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "hostname", hostname));
        if (managementIpAddress != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "managementIpAddress", managementIpAddress));
        if (macAddress != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "macAddress", macAddress));
        if (locationName != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "locationName", locationName));
        if (serialNumber != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "serialNumber", serialNumber));
        if (location != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "location", location));
        if (family != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "family", family));
        if (type != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "type", type));
        if (series != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "series", series));
        if (collectionStatus != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "collectionStatus", collectionStatus));
        if (collectionInterval != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "collectionInterval", collectionInterval));
        if (notSyncedForMinutes != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "notSyncedForMinutes", notSyncedForMinutes));
        if (errorCode != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "errorCode", errorCode));
        if (errorDescription != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "errorDescription", errorDescription));
        if (softwareVersion != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "softwareVersion", softwareVersion));
        if (softwareType != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "softwareType", softwareType));
        if (platformId != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "platformId", platformId));
        if (role != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "role", role));
        if (reachabilityStatus != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "reachabilityStatus", reachabilityStatus));
        if (upTime != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "upTime", upTime));
        if (associatedWlcIp != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "associatedWlcIp", associatedWlcIp));
        if (licenseName != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "license.name", licenseName));
        if (licenseType != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "license.type", licenseType));
        if (licenseStatus != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "license.status", licenseStatus));
        if (modulename != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "module+name", modulename));
        if (moduleequpimenttype != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "module+equpimenttype", moduleequpimenttype));
        if (moduleservicestate != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "module+servicestate", moduleservicestate));
        if (modulevendorequipmenttype != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "module+vendorequipmenttype", modulevendorequipmenttype));
        if (modulepartnumber != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "module+partnumber", modulepartnumber));
        if (moduleoperationstatecode != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "module+operationstatecode", moduleoperationstatecode));
        if (id != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("id", id));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getNetworkDeviceValidateBeforeCall(List<String> hostname, List<String> managementIpAddress, List<String> macAddress, List<String> locationName, List<String> serialNumber, List<String> location, List<String> family, List<String> type, List<String> series, List<String> collectionStatus, List<String> collectionInterval, List<String> notSyncedForMinutes, List<String> errorCode, List<String> errorDescription, List<String> softwareVersion, List<String> softwareType, List<String> platformId, List<String> role, List<String> reachabilityStatus, List<String> upTime, List<String> associatedWlcIp, List<String> licenseName, List<String> licenseType, List<String> licenseStatus, List<String> modulename, List<String> moduleequpimenttype, List<String> moduleservicestate, List<String> modulevendorequipmenttype, List<String> modulepartnumber, List<String> moduleoperationstatecode, String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = getNetworkDeviceCall(hostname, managementIpAddress, macAddress, locationName, serialNumber, location, family, type, series, collectionStatus, collectionInterval, notSyncedForMinutes, errorCode, errorDescription, softwareVersion, softwareType, platformId, role, reachabilityStatus, upTime, associatedWlcIp, licenseName, licenseType, licenseStatus, modulename, moduleequpimenttype, moduleservicestate, modulevendorequipmenttype, modulepartnumber, moduleoperationstatecode, id, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieves all network devices
     * Gets the list of first 500 network devices sorted lexicographically based on host name. It can be filtered using management IP address, mac address, hostname and location name. If id param is provided, it will be returning the list of network-devices for the given id&#39;s and other request params will be ignored. In case of autocomplete request, returns the list of specified attributes.
     * @param hostname hostname (optional)
     * @param managementIpAddress managementIpAddress (optional)
     * @param macAddress macAddress (optional)
     * @param locationName locationName (optional)
     * @param serialNumber serialNumber (optional)
     * @param location location (optional)
     * @param family family (optional)
     * @param type type (optional)
     * @param series series (optional)
     * @param collectionStatus collectionStatus (optional)
     * @param collectionInterval collectionInterval (optional)
     * @param notSyncedForMinutes notSyncedForMinutes (optional)
     * @param errorCode errorCode (optional)
     * @param errorDescription errorDescription (optional)
     * @param softwareVersion softwareVersion (optional)
     * @param softwareType softwareType (optional)
     * @param platformId platformId (optional)
     * @param role role (optional)
     * @param reachabilityStatus reachabilityStatus (optional)
     * @param upTime upTime (optional)
     * @param associatedWlcIp associatedWlcIp (optional)
     * @param licenseName licenseName (optional)
     * @param licenseType licenseType (optional)
     * @param licenseStatus licenseStatus (optional)
     * @param modulename moduleName (optional)
     * @param moduleequpimenttype moduleEqupimentType (optional)
     * @param moduleservicestate moduleServiceState (optional)
     * @param modulevendorequipmenttype moduleVendorEquipmentType (optional)
     * @param modulepartnumber modulePartNumber (optional)
     * @param moduleoperationstatecode moduleOperationStateCode (optional)
     * @param id Accepts comma separated id&#39;s and return list of network-devices for the given id&#39;s. If invalid or not-found id&#39;s are provided, null entry will be returned in the list. (optional)
     * @return NetworkDeviceListResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NetworkDeviceListResult getNetworkDevice(List<String> hostname, List<String> managementIpAddress, List<String> macAddress, List<String> locationName, List<String> serialNumber, List<String> location, List<String> family, List<String> type, List<String> series, List<String> collectionStatus, List<String> collectionInterval, List<String> notSyncedForMinutes, List<String> errorCode, List<String> errorDescription, List<String> softwareVersion, List<String> softwareType, List<String> platformId, List<String> role, List<String> reachabilityStatus, List<String> upTime, List<String> associatedWlcIp, List<String> licenseName, List<String> licenseType, List<String> licenseStatus, List<String> modulename, List<String> moduleequpimenttype, List<String> moduleservicestate, List<String> modulevendorequipmenttype, List<String> modulepartnumber, List<String> moduleoperationstatecode, String id) throws ApiException {
        ApiResponse<NetworkDeviceListResult> resp = getNetworkDeviceWithHttpInfo(hostname, managementIpAddress, macAddress, locationName, serialNumber, location, family, type, series, collectionStatus, collectionInterval, notSyncedForMinutes, errorCode, errorDescription, softwareVersion, softwareType, platformId, role, reachabilityStatus, upTime, associatedWlcIp, licenseName, licenseType, licenseStatus, modulename, moduleequpimenttype, moduleservicestate, modulevendorequipmenttype, modulepartnumber, moduleoperationstatecode, id);
        return resp.getData();
    }

    /**
     * Retrieves all network devices
     * Gets the list of first 500 network devices sorted lexicographically based on host name. It can be filtered using management IP address, mac address, hostname and location name. If id param is provided, it will be returning the list of network-devices for the given id&#39;s and other request params will be ignored. In case of autocomplete request, returns the list of specified attributes.
     * @param hostname hostname (optional)
     * @param managementIpAddress managementIpAddress (optional)
     * @param macAddress macAddress (optional)
     * @param locationName locationName (optional)
     * @param serialNumber serialNumber (optional)
     * @param location location (optional)
     * @param family family (optional)
     * @param type type (optional)
     * @param series series (optional)
     * @param collectionStatus collectionStatus (optional)
     * @param collectionInterval collectionInterval (optional)
     * @param notSyncedForMinutes notSyncedForMinutes (optional)
     * @param errorCode errorCode (optional)
     * @param errorDescription errorDescription (optional)
     * @param softwareVersion softwareVersion (optional)
     * @param softwareType softwareType (optional)
     * @param platformId platformId (optional)
     * @param role role (optional)
     * @param reachabilityStatus reachabilityStatus (optional)
     * @param upTime upTime (optional)
     * @param associatedWlcIp associatedWlcIp (optional)
     * @param licenseName licenseName (optional)
     * @param licenseType licenseType (optional)
     * @param licenseStatus licenseStatus (optional)
     * @param modulename moduleName (optional)
     * @param moduleequpimenttype moduleEqupimentType (optional)
     * @param moduleservicestate moduleServiceState (optional)
     * @param modulevendorequipmenttype moduleVendorEquipmentType (optional)
     * @param modulepartnumber modulePartNumber (optional)
     * @param moduleoperationstatecode moduleOperationStateCode (optional)
     * @param id Accepts comma separated id&#39;s and return list of network-devices for the given id&#39;s. If invalid or not-found id&#39;s are provided, null entry will be returned in the list. (optional)
     * @return ApiResponse&lt;NetworkDeviceListResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NetworkDeviceListResult> getNetworkDeviceWithHttpInfo(List<String> hostname, List<String> managementIpAddress, List<String> macAddress, List<String> locationName, List<String> serialNumber, List<String> location, List<String> family, List<String> type, List<String> series, List<String> collectionStatus, List<String> collectionInterval, List<String> notSyncedForMinutes, List<String> errorCode, List<String> errorDescription, List<String> softwareVersion, List<String> softwareType, List<String> platformId, List<String> role, List<String> reachabilityStatus, List<String> upTime, List<String> associatedWlcIp, List<String> licenseName, List<String> licenseType, List<String> licenseStatus, List<String> modulename, List<String> moduleequpimenttype, List<String> moduleservicestate, List<String> modulevendorequipmenttype, List<String> modulepartnumber, List<String> moduleoperationstatecode, String id) throws ApiException {
        com.squareup.okhttp.Call call = getNetworkDeviceValidateBeforeCall(hostname, managementIpAddress, macAddress, locationName, serialNumber, location, family, type, series, collectionStatus, collectionInterval, notSyncedForMinutes, errorCode, errorDescription, softwareVersion, softwareType, platformId, role, reachabilityStatus, upTime, associatedWlcIp, licenseName, licenseType, licenseStatus, modulename, moduleequpimenttype, moduleservicestate, modulevendorequipmenttype, modulepartnumber, moduleoperationstatecode, id, null, null);
        Type localVarReturnType = new TypeToken<NetworkDeviceListResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves all network devices (asynchronously)
     * Gets the list of first 500 network devices sorted lexicographically based on host name. It can be filtered using management IP address, mac address, hostname and location name. If id param is provided, it will be returning the list of network-devices for the given id&#39;s and other request params will be ignored. In case of autocomplete request, returns the list of specified attributes.
     * @param hostname hostname (optional)
     * @param managementIpAddress managementIpAddress (optional)
     * @param macAddress macAddress (optional)
     * @param locationName locationName (optional)
     * @param serialNumber serialNumber (optional)
     * @param location location (optional)
     * @param family family (optional)
     * @param type type (optional)
     * @param series series (optional)
     * @param collectionStatus collectionStatus (optional)
     * @param collectionInterval collectionInterval (optional)
     * @param notSyncedForMinutes notSyncedForMinutes (optional)
     * @param errorCode errorCode (optional)
     * @param errorDescription errorDescription (optional)
     * @param softwareVersion softwareVersion (optional)
     * @param softwareType softwareType (optional)
     * @param platformId platformId (optional)
     * @param role role (optional)
     * @param reachabilityStatus reachabilityStatus (optional)
     * @param upTime upTime (optional)
     * @param associatedWlcIp associatedWlcIp (optional)
     * @param licenseName licenseName (optional)
     * @param licenseType licenseType (optional)
     * @param licenseStatus licenseStatus (optional)
     * @param modulename moduleName (optional)
     * @param moduleequpimenttype moduleEqupimentType (optional)
     * @param moduleservicestate moduleServiceState (optional)
     * @param modulevendorequipmenttype moduleVendorEquipmentType (optional)
     * @param modulepartnumber modulePartNumber (optional)
     * @param moduleoperationstatecode moduleOperationStateCode (optional)
     * @param id Accepts comma separated id&#39;s and return list of network-devices for the given id&#39;s. If invalid or not-found id&#39;s are provided, null entry will be returned in the list. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getNetworkDeviceAsync(List<String> hostname, List<String> managementIpAddress, List<String> macAddress, List<String> locationName, List<String> serialNumber, List<String> location, List<String> family, List<String> type, List<String> series, List<String> collectionStatus, List<String> collectionInterval, List<String> notSyncedForMinutes, List<String> errorCode, List<String> errorDescription, List<String> softwareVersion, List<String> softwareType, List<String> platformId, List<String> role, List<String> reachabilityStatus, List<String> upTime, List<String> associatedWlcIp, List<String> licenseName, List<String> licenseType, List<String> licenseStatus, List<String> modulename, List<String> moduleequpimenttype, List<String> moduleservicestate, List<String> modulevendorequipmenttype, List<String> modulepartnumber, List<String> moduleoperationstatecode, String id, final ApiCallback<NetworkDeviceListResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getNetworkDeviceValidateBeforeCall(hostname, managementIpAddress, macAddress, locationName, serialNumber, location, family, type, series, collectionStatus, collectionInterval, notSyncedForMinutes, errorCode, errorDescription, softwareVersion, softwareType, platformId, role, reachabilityStatus, upTime, associatedWlcIp, licenseName, licenseType, licenseStatus, modulename, moduleequpimenttype, moduleservicestate, modulevendorequipmenttype, modulepartnumber, moduleoperationstatecode, id, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NetworkDeviceListResult>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getNetworkDeviceAutocomplete
     * @param vrfName vrfName (optional)
     * @param managementIpAddress managementIpAddress (optional)
     * @param hostname hostname (optional)
     * @param macAddress macAddress (optional)
     * @param family family (optional)
     * @param collectionStatus collectionStatus (optional)
     * @param collectionInterval collectionInterval (optional)
     * @param softwareVersion softwareVersion (optional)
     * @param softwareType softwareType (optional)
     * @param reachabilityStatus reachabilityStatus (optional)
     * @param reachabilityFailureReason reachabilityFailureReason (optional)
     * @param errorCode errorCode (optional)
     * @param platformId platformId (optional)
     * @param series series (optional)
     * @param type type (optional)
     * @param serialNumber serialNumber (optional)
     * @param upTime upTime (optional)
     * @param role role (optional)
     * @param roleSource roleSource (optional)
     * @param associatedWlcIp associatedWlcIp (optional)
     * @param offset offset (optional)
     * @param limit limit (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getNetworkDeviceAutocompleteCall(String vrfName, String managementIpAddress, String hostname, String macAddress, String family, String collectionStatus, String collectionInterval, String softwareVersion, String softwareType, String reachabilityStatus, String reachabilityFailureReason, String errorCode, String platformId, String series, String type, String serialNumber, String upTime, String role, String roleSource, String associatedWlcIp, String offset, String limit, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1/network-device/autocomplete";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (vrfName != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("vrfName", vrfName));
        if (managementIpAddress != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("managementIpAddress", managementIpAddress));
        if (hostname != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("hostname", hostname));
        if (macAddress != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("macAddress", macAddress));
        if (family != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("family", family));
        if (collectionStatus != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("collectionStatus", collectionStatus));
        if (collectionInterval != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("collectionInterval", collectionInterval));
        if (softwareVersion != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("softwareVersion", softwareVersion));
        if (softwareType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("softwareType", softwareType));
        if (reachabilityStatus != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("reachabilityStatus", reachabilityStatus));
        if (reachabilityFailureReason != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("reachabilityFailureReason", reachabilityFailureReason));
        if (errorCode != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("errorCode", errorCode));
        if (platformId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("platformId", platformId));
        if (series != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("series", series));
        if (type != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("type", type));
        if (serialNumber != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("serialNumber", serialNumber));
        if (upTime != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("upTime", upTime));
        if (role != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("role", role));
        if (roleSource != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("roleSource", roleSource));
        if (associatedWlcIp != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("associatedWlcIp", associatedWlcIp));
        if (offset != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("offset", offset));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getNetworkDeviceAutocompleteValidateBeforeCall(String vrfName, String managementIpAddress, String hostname, String macAddress, String family, String collectionStatus, String collectionInterval, String softwareVersion, String softwareType, String reachabilityStatus, String reachabilityFailureReason, String errorCode, String platformId, String series, String type, String serialNumber, String upTime, String role, String roleSource, String associatedWlcIp, String offset, String limit, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = getNetworkDeviceAutocompleteCall(vrfName, managementIpAddress, hostname, macAddress, family, collectionStatus, collectionInterval, softwareVersion, softwareType, reachabilityStatus, reachabilityFailureReason, errorCode, platformId, series, type, serialNumber, upTime, role, roleSource, associatedWlcIp, offset, limit, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieves all network devices
     * Gets the list of first 500 network devices sorted lexicographically based on host name. It can be filtered using management IP address, mac address, hostname and location name. If id param is provided, it will be returning the list of network-devices for the given id&#39;s and other request params will be ignored. In case of autocomplete request, returns the list of specified attributes.
     * @param vrfName vrfName (optional)
     * @param managementIpAddress managementIpAddress (optional)
     * @param hostname hostname (optional)
     * @param macAddress macAddress (optional)
     * @param family family (optional)
     * @param collectionStatus collectionStatus (optional)
     * @param collectionInterval collectionInterval (optional)
     * @param softwareVersion softwareVersion (optional)
     * @param softwareType softwareType (optional)
     * @param reachabilityStatus reachabilityStatus (optional)
     * @param reachabilityFailureReason reachabilityFailureReason (optional)
     * @param errorCode errorCode (optional)
     * @param platformId platformId (optional)
     * @param series series (optional)
     * @param type type (optional)
     * @param serialNumber serialNumber (optional)
     * @param upTime upTime (optional)
     * @param role role (optional)
     * @param roleSource roleSource (optional)
     * @param associatedWlcIp associatedWlcIp (optional)
     * @param offset offset (optional)
     * @param limit limit (optional)
     * @return RetrievesAllNetworkDevicesResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RetrievesAllNetworkDevicesResponse getNetworkDeviceAutocomplete(String vrfName, String managementIpAddress, String hostname, String macAddress, String family, String collectionStatus, String collectionInterval, String softwareVersion, String softwareType, String reachabilityStatus, String reachabilityFailureReason, String errorCode, String platformId, String series, String type, String serialNumber, String upTime, String role, String roleSource, String associatedWlcIp, String offset, String limit) throws ApiException {
        ApiResponse<RetrievesAllNetworkDevicesResponse> resp = getNetworkDeviceAutocompleteWithHttpInfo(vrfName, managementIpAddress, hostname, macAddress, family, collectionStatus, collectionInterval, softwareVersion, softwareType, reachabilityStatus, reachabilityFailureReason, errorCode, platformId, series, type, serialNumber, upTime, role, roleSource, associatedWlcIp, offset, limit);
        return resp.getData();
    }

    /**
     * Retrieves all network devices
     * Gets the list of first 500 network devices sorted lexicographically based on host name. It can be filtered using management IP address, mac address, hostname and location name. If id param is provided, it will be returning the list of network-devices for the given id&#39;s and other request params will be ignored. In case of autocomplete request, returns the list of specified attributes.
     * @param vrfName vrfName (optional)
     * @param managementIpAddress managementIpAddress (optional)
     * @param hostname hostname (optional)
     * @param macAddress macAddress (optional)
     * @param family family (optional)
     * @param collectionStatus collectionStatus (optional)
     * @param collectionInterval collectionInterval (optional)
     * @param softwareVersion softwareVersion (optional)
     * @param softwareType softwareType (optional)
     * @param reachabilityStatus reachabilityStatus (optional)
     * @param reachabilityFailureReason reachabilityFailureReason (optional)
     * @param errorCode errorCode (optional)
     * @param platformId platformId (optional)
     * @param series series (optional)
     * @param type type (optional)
     * @param serialNumber serialNumber (optional)
     * @param upTime upTime (optional)
     * @param role role (optional)
     * @param roleSource roleSource (optional)
     * @param associatedWlcIp associatedWlcIp (optional)
     * @param offset offset (optional)
     * @param limit limit (optional)
     * @return ApiResponse&lt;RetrievesAllNetworkDevicesResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RetrievesAllNetworkDevicesResponse> getNetworkDeviceAutocompleteWithHttpInfo(String vrfName, String managementIpAddress, String hostname, String macAddress, String family, String collectionStatus, String collectionInterval, String softwareVersion, String softwareType, String reachabilityStatus, String reachabilityFailureReason, String errorCode, String platformId, String series, String type, String serialNumber, String upTime, String role, String roleSource, String associatedWlcIp, String offset, String limit) throws ApiException {
        com.squareup.okhttp.Call call = getNetworkDeviceAutocompleteValidateBeforeCall(vrfName, managementIpAddress, hostname, macAddress, family, collectionStatus, collectionInterval, softwareVersion, softwareType, reachabilityStatus, reachabilityFailureReason, errorCode, platformId, series, type, serialNumber, upTime, role, roleSource, associatedWlcIp, offset, limit, null, null);
        Type localVarReturnType = new TypeToken<RetrievesAllNetworkDevicesResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves all network devices (asynchronously)
     * Gets the list of first 500 network devices sorted lexicographically based on host name. It can be filtered using management IP address, mac address, hostname and location name. If id param is provided, it will be returning the list of network-devices for the given id&#39;s and other request params will be ignored. In case of autocomplete request, returns the list of specified attributes.
     * @param vrfName vrfName (optional)
     * @param managementIpAddress managementIpAddress (optional)
     * @param hostname hostname (optional)
     * @param macAddress macAddress (optional)
     * @param family family (optional)
     * @param collectionStatus collectionStatus (optional)
     * @param collectionInterval collectionInterval (optional)
     * @param softwareVersion softwareVersion (optional)
     * @param softwareType softwareType (optional)
     * @param reachabilityStatus reachabilityStatus (optional)
     * @param reachabilityFailureReason reachabilityFailureReason (optional)
     * @param errorCode errorCode (optional)
     * @param platformId platformId (optional)
     * @param series series (optional)
     * @param type type (optional)
     * @param serialNumber serialNumber (optional)
     * @param upTime upTime (optional)
     * @param role role (optional)
     * @param roleSource roleSource (optional)
     * @param associatedWlcIp associatedWlcIp (optional)
     * @param offset offset (optional)
     * @param limit limit (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getNetworkDeviceAutocompleteAsync(String vrfName, String managementIpAddress, String hostname, String macAddress, String family, String collectionStatus, String collectionInterval, String softwareVersion, String softwareType, String reachabilityStatus, String reachabilityFailureReason, String errorCode, String platformId, String series, String type, String serialNumber, String upTime, String role, String roleSource, String associatedWlcIp, String offset, String limit, final ApiCallback<RetrievesAllNetworkDevicesResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getNetworkDeviceAutocompleteValidateBeforeCall(vrfName, managementIpAddress, hostname, macAddress, family, collectionStatus, collectionInterval, softwareVersion, softwareType, reachabilityStatus, reachabilityFailureReason, errorCode, platformId, series, type, serialNumber, upTime, role, roleSource, associatedWlcIp, offset, limit, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RetrievesAllNetworkDevicesResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getNetworkDeviceBriefById
     * @param id Device ID (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getNetworkDeviceBriefByIdCall(String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1/network-device/${id}/brief"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getNetworkDeviceBriefByIdValidateBeforeCall(String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getNetworkDeviceBriefById(Async)");
        }
        

        com.squareup.okhttp.Call call = getNetworkDeviceBriefByIdCall(id, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieves network device brief by ID
     * Gets brief network device info such as hostname, management IP address for the given device ID
     * @param id Device ID (required)
     * @return NetworkDeviceBriefNIOResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NetworkDeviceBriefNIOResult getNetworkDeviceBriefById(String id) throws ApiException {
        ApiResponse<NetworkDeviceBriefNIOResult> resp = getNetworkDeviceBriefByIdWithHttpInfo(id);
        return resp.getData();
    }

    /**
     * Retrieves network device brief by ID
     * Gets brief network device info such as hostname, management IP address for the given device ID
     * @param id Device ID (required)
     * @return ApiResponse&lt;NetworkDeviceBriefNIOResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NetworkDeviceBriefNIOResult> getNetworkDeviceBriefByIdWithHttpInfo(String id) throws ApiException {
        com.squareup.okhttp.Call call = getNetworkDeviceBriefByIdValidateBeforeCall(id, null, null);
        Type localVarReturnType = new TypeToken<NetworkDeviceBriefNIOResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves network device brief by ID (asynchronously)
     * Gets brief network device info such as hostname, management IP address for the given device ID
     * @param id Device ID (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getNetworkDeviceBriefByIdAsync(String id, final ApiCallback<NetworkDeviceBriefNIOResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getNetworkDeviceBriefByIdValidateBeforeCall(id, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NetworkDeviceBriefNIOResult>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getNetworkDeviceById
     * @param id Device ID (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getNetworkDeviceByIdCall(String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1/network-device/${id}"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getNetworkDeviceByIdValidateBeforeCall(String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getNetworkDeviceById(Async)");
        }
        

        com.squareup.okhttp.Call call = getNetworkDeviceByIdCall(id, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieves network device by ID
     * Gets the network device for the given device ID
     * @param id Device ID (required)
     * @return NetworkDeviceResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public NetworkDeviceResult getNetworkDeviceById(String id) throws ApiException {
        ApiResponse<NetworkDeviceResult> resp = getNetworkDeviceByIdWithHttpInfo(id);
        return resp.getData();
    }

    /**
     * Retrieves network device by ID
     * Gets the network device for the given device ID
     * @param id Device ID (required)
     * @return ApiResponse&lt;NetworkDeviceResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<NetworkDeviceResult> getNetworkDeviceByIdWithHttpInfo(String id) throws ApiException {
        com.squareup.okhttp.Call call = getNetworkDeviceByIdValidateBeforeCall(id, null, null);
        Type localVarReturnType = new TypeToken<NetworkDeviceResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves network device by ID (asynchronously)
     * Gets the network device for the given device ID
     * @param id Device ID (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getNetworkDeviceByIdAsync(String id, final ApiCallback<NetworkDeviceResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getNetworkDeviceByIdValidateBeforeCall(id, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<NetworkDeviceResult>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getNetworkDeviceCollectionScheduleById
     * @param id Device ID (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getNetworkDeviceCollectionScheduleByIdCall(String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1/network-device/${id}/collection-schedule"
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getNetworkDeviceCollectionScheduleByIdValidateBeforeCall(String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getNetworkDeviceCollectionScheduleById(Async)");
        }
        

        com.squareup.okhttp.Call call = getNetworkDeviceCollectionScheduleByIdCall(id, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieves the collection interval specified by device ID
     * Retrieves collection interval by device id
     * @param id Device ID (required)
     * @return CountResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CountResult getNetworkDeviceCollectionScheduleById(String id) throws ApiException {
        ApiResponse<CountResult> resp = getNetworkDeviceCollectionScheduleByIdWithHttpInfo(id);
        return resp.getData();
    }

    /**
     * Retrieves the collection interval specified by device ID
     * Retrieves collection interval by device id
     * @param id Device ID (required)
     * @return ApiResponse&lt;CountResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CountResult> getNetworkDeviceCollectionScheduleByIdWithHttpInfo(String id) throws ApiException {
        com.squareup.okhttp.Call call = getNetworkDeviceCollectionScheduleByIdValidateBeforeCall(id, null, null);
        Type localVarReturnType = new TypeToken<CountResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves the collection interval specified by device ID (asynchronously)
     * Retrieves collection interval by device id
     * @param id Device ID (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getNetworkDeviceCollectionScheduleByIdAsync(String id, final ApiCallback<CountResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getNetworkDeviceCollectionScheduleByIdValidateBeforeCall(id, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CountResult>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getNetworkDeviceCollectionScheduleGlobal
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getNetworkDeviceCollectionScheduleGlobalCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1/network-device/collection-schedule/global";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getNetworkDeviceCollectionScheduleGlobalValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = getNetworkDeviceCollectionScheduleGlobalCall(progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieves the collection interval of all devices
     * Retrieves collection interval of all devices
     * @return CountResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CountResult getNetworkDeviceCollectionScheduleGlobal() throws ApiException {
        ApiResponse<CountResult> resp = getNetworkDeviceCollectionScheduleGlobalWithHttpInfo();
        return resp.getData();
    }

    /**
     * Retrieves the collection interval of all devices
     * Retrieves collection interval of all devices
     * @return ApiResponse&lt;CountResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CountResult> getNetworkDeviceCollectionScheduleGlobalWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = getNetworkDeviceCollectionScheduleGlobalValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<CountResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves the collection interval of all devices (asynchronously)
     * Retrieves collection interval of all devices
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getNetworkDeviceCollectionScheduleGlobalAsync(final ApiCallback<CountResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getNetworkDeviceCollectionScheduleGlobalValidateBeforeCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CountResult>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getNetworkDeviceConfig
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getNetworkDeviceConfigCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1/network-device/config";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getNetworkDeviceConfigValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = getNetworkDeviceConfigCall(progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieves device config list
     * Gets the config for all devices
     * @return RawCliInfoNIOListResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RawCliInfoNIOListResult getNetworkDeviceConfig() throws ApiException {
        ApiResponse<RawCliInfoNIOListResult> resp = getNetworkDeviceConfigWithHttpInfo();
        return resp.getData();
    }

    /**
     * Retrieves device config list
     * Gets the config for all devices
     * @return ApiResponse&lt;RawCliInfoNIOListResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RawCliInfoNIOListResult> getNetworkDeviceConfigWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = getNetworkDeviceConfigValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<RawCliInfoNIOListResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves device config list (asynchronously)
     * Gets the config for all devices
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getNetworkDeviceConfigAsync(final ApiCallback<RawCliInfoNIOListResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getNetworkDeviceConfigValidateBeforeCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RawCliInfoNIOListResult>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getNetworkDeviceConfigByNetworkDeviceId
     * @param networkDeviceId networkDeviceId (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getNetworkDeviceConfigByNetworkDeviceIdCall(String networkDeviceId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1/network-device/${networkDeviceId}/config"
            .replaceAll("\\{" + "networkDeviceId" + "\\}", apiClient.escapeString(networkDeviceId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getNetworkDeviceConfigByNetworkDeviceIdValidateBeforeCall(String networkDeviceId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'networkDeviceId' is set
        if (networkDeviceId == null) {
            throw new ApiException("Missing the required parameter 'networkDeviceId' when calling getNetworkDeviceConfigByNetworkDeviceId(Async)");
        }
        

        com.squareup.okhttp.Call call = getNetworkDeviceConfigByNetworkDeviceIdCall(networkDeviceId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieves device config
     * Gets the device config by device ID
     * @param networkDeviceId networkDeviceId (required)
     * @return SuccessResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public SuccessResult getNetworkDeviceConfigByNetworkDeviceId(String networkDeviceId) throws ApiException {
        ApiResponse<SuccessResult> resp = getNetworkDeviceConfigByNetworkDeviceIdWithHttpInfo(networkDeviceId);
        return resp.getData();
    }

    /**
     * Retrieves device config
     * Gets the device config by device ID
     * @param networkDeviceId networkDeviceId (required)
     * @return ApiResponse&lt;SuccessResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<SuccessResult> getNetworkDeviceConfigByNetworkDeviceIdWithHttpInfo(String networkDeviceId) throws ApiException {
        com.squareup.okhttp.Call call = getNetworkDeviceConfigByNetworkDeviceIdValidateBeforeCall(networkDeviceId, null, null);
        Type localVarReturnType = new TypeToken<SuccessResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves device config (asynchronously)
     * Gets the device config by device ID
     * @param networkDeviceId networkDeviceId (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getNetworkDeviceConfigByNetworkDeviceIdAsync(String networkDeviceId, final ApiCallback<SuccessResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getNetworkDeviceConfigByNetworkDeviceIdValidateBeforeCall(networkDeviceId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<SuccessResult>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getNetworkDeviceConfigCount
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getNetworkDeviceConfigCountCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1/network-device/config/count";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getNetworkDeviceConfigCountValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = getNetworkDeviceConfigCountCall(progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieves config count
     * Gets the count of device configs
     * @return CountResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CountResult getNetworkDeviceConfigCount() throws ApiException {
        ApiResponse<CountResult> resp = getNetworkDeviceConfigCountWithHttpInfo();
        return resp.getData();
    }

    /**
     * Retrieves config count
     * Gets the count of device configs
     * @return ApiResponse&lt;CountResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CountResult> getNetworkDeviceConfigCountWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = getNetworkDeviceConfigCountValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<CountResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves config count (asynchronously)
     * Gets the count of device configs
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getNetworkDeviceConfigCountAsync(final ApiCallback<CountResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getNetworkDeviceConfigCountValidateBeforeCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CountResult>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getNetworkDeviceCount
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getNetworkDeviceCountCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1/network-device/count";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getNetworkDeviceCountValidateBeforeCall(final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = getNetworkDeviceCountCall(progressListener, progressRequestListener);
        return call;

    }

    /**
     * Retrieves network device count
     * Gets the count of network devices filtered by management IP address, mac address, hostname and location name
     * @return CountResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CountResult getNetworkDeviceCount() throws ApiException {
        ApiResponse<CountResult> resp = getNetworkDeviceCountWithHttpInfo();
        return resp.getData();
    }

    /**
     * Retrieves network device count
     * Gets the count of network devices filtered by management IP address, mac address, hostname and location name
     * @return ApiResponse&lt;CountResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CountResult> getNetworkDeviceCountWithHttpInfo() throws ApiException {
        com.squareup.okhttp.Call call = getNetworkDeviceCountValidateBeforeCall(null, null);
        Type localVarReturnType = new TypeToken<CountResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Retrieves network device count (asynchronously)
     * Gets the count of network devices filtered by management IP address, mac address, hostname and location name
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getNetworkDeviceCountAsync(final ApiCallback<CountResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getNetworkDeviceCountValidateBeforeCall(progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CountResult>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getNetworkDeviceFunctionalCapability
     * @param deviceId Accepts comma separated deviceid&#39;s and return list of functional-capabilities for the given id&#39;s. If invalid or not-found id&#39;s are provided, null entry will be returned in the list. (optional)
     * @param functionName functionName (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getNetworkDeviceFunctionalCapabilityCall(String deviceId, List<String> functionName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1/network-device/functional-capability";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (deviceId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("deviceId", deviceId));
        if (functionName != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "functionName", functionName));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
[...]
